# set (DOXYGEN_EXE "/opt/doxygen/1.8.13-x64/doxygen")
set (COMMON_COMPILE_OPTIONS "")

#---------------------------------------------------------------------
#
#---------------------------------------------------------------------

if (NOT CMAKE_ARCHIVE_OUTPUT_DIRECTORY)
    set (CMAKE_ARCHIVE_OUTPUT_DIRECTORY "${PROJECT_ROOT}/lib")
endif ()
if (NOT CMAKE_LIBRARY_OUTPUT_DIRECTORY)
    set (CMAKE_LIBRARY_OUTPUT_DIRECTORY "${PROJECT_ROOT}/lib")
endif ()
if (NOT CMAKE_RUNTIME_OUTPUT_DIRECTORY)
    set (CMAKE_RUNTIME_OUTPUT_DIRECTORY "${PROJECT_ROOT}/bin")
endif ()


#---------------------------------------------------------------------
#
#---------------------------------------------------------------------

function (add_executables directory)
    file(GLOB sources "${directory}/*.cpp")

    foreach (source ${sources})
        get_filename_component(file ${source} NAME_WE)

        # ignore "core.*" file
        if (${file} STREQUAL "core")
            continue ()
        endif ()

        file(GLOB SOURCE_FILES ${COMMON_SOURCE_FILES}
                               "${source}")

        add_executable(${file} ${COMMON_HEADER_FILES}
                               ${SOURCE_FILES})

        if (VERBOSE)
            message(STATUS "${file} files:")
            message(STATUS "  - ${source}")
        endif ()

        set_property(TARGET ${file} PROPERTY CXX_STANDARD 11)
        target_link_libraries(${file} ${LIBCORE})

        if (NOT MSVC)
            target_compile_options (${file} PRIVATE ${COMMON_COMPILE_OPTIONS})

            if (DEBUG)
                target_compile_options (${file} PRIVATE ${COMMON_DEBUG_COMPILE_OPTTIONS})
            endif ()

        endif ()

    endforeach ()
endfunction ()

#---------------------------------------------------------------------
#
#---------------------------------------------------------------------

function (JOIN VALUES GLUE OUTPUT)
    string (REGEX REPLACE "([^\\]|^);" "\\1${GLUE}" _TMP_STR "${VALUES}")
    string (REGEX REPLACE "[\\](.)" "\\1" _TMP_STR "${_TMP_STR}") #fixes escaping
    set (${OUTPUT} "${_TMP_STR}" PARENT_SCOPE)
endfunction ()

#---------------------------------------------------------------------
#
#---------------------------------------------------------------------

